<!--The content below is only a placeholder and can be replaced.-->

<div class="ui inverted top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="ui mini image" src="/assets/angular.svg">
      &nbsp;
      SwissRe SPA
    </a>
    <a class="item" *ngIf="!isAuthenticated" (click)="login()">Login</a>
    <a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/beers"><i aria-hidden="true" class="mail outline icon"></i>Beers</a>
    <a id="cars-button" class="item" *ngIf="isAuthenticated" routerLink="/cars"><i aria-hidden="true" class="car outline icon"></i>Cars</a>
    <a id="user-button" class="item" *ngIf="isAuthenticated" routerLink="/user">User</a>
    <a id="profile-button" class="item" *ngIf="isAuthenticated" routerLink="/profile">Profile</a>
    <a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
  </div>
</div>

<div class="ui text container" style="margin-top: 7em;">
  <router-outlet></router-outlet>
</div>
